@import '~antd/dist/antd.css';

.starredCardIdea {
    background-color: rgb(221, 206, 113) !important;
    width: 300px;
    margin-bottom: 5px;
    height: 356px;
}

.traditionalCardIdea {
    width: 300px;
    margin-bottom: 5px;
    height: 356px;
}